

.Header {
}

#HeaderLeftContent {
    position: absolute;
    color: white;
    font-size: 2em;
}

@media only screen and (max-width: 800px) {
    #HeaderLeftContent {
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media only screen and (min-width: 800px) {
    #HeaderLeftContent {
        top: 2%;
        left: 5%;
        word-spacing: <parent-width>;
        width: min-intrinsic;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        display: table-caption;
        display: -ms-grid;
        -ms-grid-columns: min-content;
    }
}


#HeaderContact #HeaderResume #HeaderAbout {
    opacity: 0;
}

.HeaderAboutKeySlideOut {
    transform: translate3d( -74px, 74px, 0px) rotate(45deg) !important;
    opacity: 0.5 !important;
    z-index: 1 !important;
}

.HeaderContactKeySlideOut {
    transform: translate3d( -74px, -74px, 0px) rotate(45deg) !important;
    opacity: 0.5 !important;
    z-index: 2 !important;
}

.HeaderResumeKeySlideOut {
    transform: translate3d( -150px, 0px, 0px) rotate(45deg) !important;
    opacity: 0.5 !important;
    z-index: 3 !important;
}

#hamburger {
    position: absolute;
    top: 117px;
    right: 66px;
    color: white;
    pointer-events: none;
    width: 70px;
    height: 70px;
    background-color: transparent;
    z-index:5;
}

.HeaderContactIcon, .HeaderAboutIcon, .HeaderResumeIcon{
    position: absolute;
    top: 14px;
    right: 16px;
    color: white;
    pointer-events: none;
    width: 70px !important;
    height: 70px;
    background-color: transparent;
    z-index:5;
    transform: rotate(-45deg);
}

#HeaderAbout, #HeaderContact, #HeaderResume {
    z-index: -1;
    opacity: 0;
}

.HeaderMenuActive {
    background: #9e0000 !important;
    color: white !important;
    opacity: 1 !important;
    border:  2px solid black !important;
}

.HeaderMenuBtn {
    position: Absolute;
    width: 100px;
    right: 50px;
    top: 100px;
    transform: rotate(45deg);
    background-color: black;
    opacity: 0.3;
    transition: .4s;
    cursor: pointer;
    border:  2px solid white;
    z-index: 4;
}

.HeaderMenuBtn:hover {

    background: #9e0000;
    color: white;
    opacity: 1 !important;
    border:  2px solid black;
}

.HeaderMenuBtn:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.HeaderMenuToolTip {
    position: absolute;
    text-align: center;
    top: 0px !important;
    left: 0px !important;
    transform: translate3d( -60px, -7px, 0px) rotate( -45deg) !important;
    width: 100px;
    height: 20px;
    margin: 0 !important;
    z-index: 6;
}

.HeaderBackground {
  display: block;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/daniel-josef-540635-unsplash.jpg);
}

.HeaderName {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 5em;
}
