
.NavBarIcon {
    padding-top: 5px;
    width: 40px !important;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
}

#NavBarIconAbout {
    padding-top: 7px;
    width: 37px !important;
    height: 33px;
    padding-bottom: 4px;
}

.NavBarIconSelected {
    color: #ff3f00;
}

.NavBarText {
    text-align: center;
}

.NavBarHome, .NavBarContact, .NavBarResume, .NavBarAbout {
    width: 25%;
    height: 65px;
    float:left;
}

.NavBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    z-index: 10000;
}
